form {
  border-radius: 5px;
  max-width:700px;
  width:100vw;
  margin: 5% auto;
  background-color: #FFFFFF;
  overflow: hidden;
}

p span {
  color: #F00;
}

p {
  margin: 0px;
  font-weight: 500;
  line-height: 2;
  color:#333;
}

input {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #eee;
  margin-bottom: 0px;
  width: 75%;
  height: 42px;
  /*float: left;*/
  display: inline-block;
  padding: 0px 15px;
}

.icon-case {
  width: 35px;
  float: left;
  border-radius: 5px 0px 0px 5px;
  background:#eeeeee;
  height:42px;
  position: relative;
  text-align: center;
  line-height:40px;
}

i {
  color:#555;
}

.bouton-contact{
  background-color: #81BDA4;
  color: #FFF;
  text-align: center;
  width: 100%;
  border:0;
  padding: 17px 25px;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 18px;
}

.leftcontact {
  width:49.5%; 
  float:left;
  margin-left: 20px; 
  border-right: 1px dotted #CCC;
  box-sizing: border-box;
  padding: 0px 15px 0px 0px;
}

.rightcontact {
  width:40.5%;
  float:right;
  box-sizing: border-box;
  padding: 0px 0px 0px 15px;
}


