/* You can add global styles to this file, and also import other style files */

/* FOOTER */

.footer {
    background: none repeat scroll 0 0 white;
    border-top: 1px solid #e7eaec;
    bottom: 0px;
    left: 0px;
    padding: 10px 20px;
    position: absolute;
    right: 0px;
}

.footer.fixed_full {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 10px 20px;
    background: white;
    border-top: 1px solid #e7eaec;
}

.footer.fixed {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
    padding: 10px 20px;
    background: white;
    border-top: 1px solid #e7eaec;
    margin-left: 10px;
}

body.mini-navbar .footer.fixed,
body.body-small.mini-navbar .footer.fixed {
    margin: 0 0 0 70px;
}

body.mini-navbar.canvas-menu .footer.fixed,
body.canvas-menu .footer.fixed {
    margin: 0 !important;
}

body.fixed-sidebar.body-small.mini-navbar .footer.fixed {
    margin: 0 0 0 220px;
}

body.body-small .footer.fixed {
    margin-left: 0;
}
